<div class="jumbotron text-center">
  <h1>Welcome to Spoon Events!</h1>
  <p>Attend events created by Spoon campus reps or organize your own!</p>
  <%= link_to "Sign Me Up!", new_user_path, class: "btn btn-success btn-lg" %>
</div>
