
<a class="btn btn-lg btn-info btn-fill"
       href="https://twitter.com/intent/tweet?text=<%= @event.share_text%>"
       data-size="large"
       data-count="none"
       target="_blank"><i class="fa fa-twitter"></i> Tell Your Friends</a>
