<h1>Upcoming Events</h1>

  <div class="row">
    <% @events.each do |event| %>
    <div class="col-sm-6 col-md-4 text-center">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= event.name %></h3>
          <p><%= event.readable_date %></p>
          <p><%= event.location %> </p>
          <%= link_to "RSVP Here!", event_path(event), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
