<h1><%= @event.name %></h1>

<h3><%= @event.location %></h3>
<p> <a href="https://www.google.com/maps/dir//<%= @event.directions_link %>" target="_blank">Get Directions </a></p>

<h3><%= @event.readable_date %></h3>

<!-- <h3><#%= @event.owner %></h3> -->
